:root {
    --mint: rgba(213, 240, 226, 1);
    --luna: rgba(151, 210, 177, 1);
    --moss: rgba(48, 90, 55, 1);
    --sugar-plum: rgba(161, 88, 142, 1);
    --starfire: rgba(110, 40, 81, 1);
    --mulberry: rgba(52, 18, 38, 1);
    --sun-flare: rgba(255, 255, 243, 1);
    --sour-dust: rgba(255, 255, 218, 1);
    --lemonhead: rgba(255, 255, 164, 1);
    --dusty-brown: rgba(151, 95, 74, 1);
    --milk-chocolate: rgba(104, 54, 35, 1);
    --x90s-coffee: rgba(62, 29, 16, 1);
    --stone-blue: rgba(108, 144, 184, 1);
    --light-wash: rgba(47, 85, 125, 1);
    --denim: rgba(18, 44, 72, 1);
    --brand-font-family: "Nova Cut", Helvetica;
    --brand-font-weight: 400;
    --brand-font-size: 64px;
    --brand-letter-spacing: 0px;
    --brand-line-height: normal;
    --brand-font-style: normal;
    --heading-font-family: "Labrada", Helvetica;
    --heading-font-weight: 400;
    --heading-font-size: 40px;
    --heading-letter-spacing: 0px;
    --heading-line-height: normal;
    --heading-font-style: normal;
    --subhead-font-family: "Lancelot", Helvetica;
    --subhead-font-weight: 400;
    --subhead-font-size: 28px;
    --subhead-letter-spacing: 0px;
    --subhead-line-height: normal;
    --subhead-font-style: normal;
    --body-font-family: "Marmelad", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-letter-spacing: 0px;
    --body-line-height: normal;
    --body-font-style: normal;
}
